[submodule "libtga"]
	path = libtga
	url = git@github.com:mevoroth/libtga.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:mevoroth/imgui.git
[submodule "renderdoc"]
	path = renderdoc
	url = git@github.com:mevoroth/renderdoc.git
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = git@github.com:mevoroth/DirectX-Headers.git
[submodule "optick"]
	path = optick
	url = git@github.com:mevoroth/optick.git
[submodule "rapidjson"]
	path = rapidjson
	url = git@github.com:mevoroth/rapidjson.git
[submodule "dxc"]
	path = dxc
	url = git@github.com:mevoroth/dxc.git
[submodule "DirectXTex"]
	path = DirectXTex
	url = git@github.com:mevoroth/DirectXTex.git
[submodule "NVIDIANsightAftermath"]
	path = NVIDIANsightAftermath
	url = git@github.com:mevoroth/NVIDIANsightAftermath.git
