[submodule "libtga"]
	path = libtga
	url = git@github.com:mevoroth/libtga.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:mevoroth/imgui.git
[submodule "json"]
	path = json
	url = git@github.com:mevoroth/json.git
[submodule "renderdoc"]
	path = renderdoc
	url = git@github.com:mevoroth/renderdoc.git
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = git@github.com:mevoroth/DirectX-Headers.git
[submodule "optick"]
	path = optick
	url = git@github.com:mevoroth/optick.git
